doctype html
html
  head
    meta[charset="UTF-8"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    meta[name="theme-color" content="#f00"]
    link[rel="icon" sizes="192x192" href="/i/layout/favicon.png"]
    title Geneva
    base[href="/"]
    link[rel="stylesheet" href="css/style.css"]
    css:
        body.is-loading .lyt-screen-aside,
        body.is-loading .lyt-screen-content{ display: none; opacity: 0; }

    javascript:
        window.onload = function(){
            document.body.classList.remove('is-loading');
        };

  body.is-loading
    .lyt-screen.js-app
        .preloader.js-preloader
            span.js-preloader-progress
        .lyt-screen-aside.js-aside
            .aside
                img.js-aside-bg[src="i/2.jpg"]

                .do-plus
                    .do-plus-sprite.is-main.js-plus
                    .do-plus-bg.js-pluses
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite
                        .do-plus-sprite

                img.js-aside-bg[src="i/3.jpg"]

        .lyt-screen-content.js-screen-content
            .slider.js-slider
                .do-equal.js-equal
                    .do-equal-line.is-top
                    .do-equal-line.is-bottom
                .slider-content.js-slider-content
                    img.slider-content-img.js-img-ref[src="i/1.jpg"]
                    .btn.js-btn
                        span.btn-text.js-btn-text Surprise me
                    .btn-image.js-btn-image
        .lyt-screen-btn_mob.js-screen-btn-mob
            .btn_mob.js-btn-mob
                span.btn-text.js-btn-text Surprise me
            .btn-image_mob.js-btn-image-mob
    script[src="js/app.min.js"]