.aside{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: stretch;

  img{
    width: 100%;
    height: auto;
    @include media( $bp2 ) {
      max-width: 50%;
    }
  }


  @include media( $bp2 ) {
    // display: block;
    // display: flex;
    height: auto;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}