$btnDepth: 10px;
$btnTransition: .2s margin,.2s bottom;
$btnTransition2: .2s top,.2s left;
$btnPseudoTransition: .2s width,.2s height,.2s right,.2s bottom;
$btnHeight1: 70px;
$btnHeight2: 50px;

.btn{
  position: absolute;
  display: inline-block;
  white-space: nowrap;
  left: 50%;
  bottom: 80px;
  height: $btnHeight1;
  color: #222;
  margin: auto;
  padding: 25px 60px;
  background: #fff;
  font-size: 17px;
  letter-spacing: 1px;
  margin-left: 0;
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transform: translateX(-50%);
  transition: $btnTransition;

  @include media( $bp1 ) {
    height: $btnHeight2;
    padding: 15px 50px;
  }

  @include media( $bp2 ) {
    display: none;
  }

  &-image{
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
    z-index: -1;
  }

  &:before,
  &:after{
    content: '';
    display: block;
    position: absolute;
    right: -#{$btnDepth - 1};
    top: 0;
    width: $btnDepth;
    height: $btnHeight1;
    background: #e3e3e3;
    transform-origin: 0%  0%;
    transform: skewY(45deg);
    transition: $btnPseudoTransition;
    @include media( $bp1 ) {
      height: $btnHeight2;
    }
  }
  &:after{
    right: 0;
    top: auto;
    bottom: -#{$btnDepth - 1};
    width: 100%;
    height: $btnDepth;
    background: #bfbfbf;
    transform-origin: 0% 0%;
    transform: skewX(45deg);
  }

  &:active{

    margin-left: #{$btnDepth};
    margin-top: #{$btnDepth};
    // left: $btnDepth;
    bottom: (80 - $btnDepth);

    &:before{
      width: 0;
      right: 0;
    }
    &:after{
      height: 0;
      bottom: 0;
    }
  }


  &.is-black{
    color: #fff;
    background: #3e3e3f;

    &:before{
      background: #363637;
    }
    &:after{
      background: #262628;
    }
  }
  &.is-disabled{
    pointer-events: none;
  }
}

// Mobile button
.btn_mob{
  position: relative;
  top: 0;
  left: 0;
  height: $btnHeight1;
  color: #222;
  margin: auto;
  padding: 25px 60px;
  background: #fff;
  font-size: 17px;
  letter-spacing: 1px;
  margin-left: 0;
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  transition: $btnTransition2;
  z-index: 1;

  @include media( $bp2 ) {
    // white-space: nowrap;
    padding: 15px 30px;
    font-size: 17px;
    height: auto;
  }

  &:before,
  &:after{
    content: '';
    display: block;
    position: absolute;
    right: -#{$btnDepth - 1};
    top: 0;
    width: $btnDepth;
    height: 100%;
    background: #e3e3e3;
    transform-origin: 0%  0%;
    transform: skewY(45deg);
    transition: $btnPseudoTransition;
    // @include media( $bp1 ) {
    //   height: $btnHeight2;
    // }
  }
  &:after{
    right: 0;
    top: auto;
    bottom: -#{$btnDepth - 1};
    width: 100%;
    height: $btnDepth;
    background: #bfbfbf;
    transform-origin: 0% 0%;
    transform: skewX(45deg);
  }

  &:active{

    left: #{$btnDepth};
    top: #{$btnDepth};
    // left: $btnDepth;
    // bottom: (80 - $btnDepth);

    &:before{
      width: 0;
      right: 0;
    }
    &:after{
      height: 0;
      bottom: 0;
    }
  }

  &.is-black{
    color: #fff;
    background: #3e3e3f;

    &:before{
      background: #363637;
    }
    &:after{
      background: #262628;
    }
  }
  &.is-disabled{
    pointer-events: none;
  }
}

.btn-image_mob{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}