.do{

  &-plus{

    position: relative;
    width: 100%;
    min-height: 130px;

    @include media( $bp1 ) {
      position: absolute;
      height: 50%;
      top: 0;
      bottom: 0;
      margin: auto;
      flex: 0;
      overflow: hidden;
    }

    @include media( $bp2 ) {
      position: absolute;
      min-height: auto;
      height: auto;
    }

    &-bg{
      display: flex;
      flex-flow: row wrap;
      opacity: .4;
      justify-content: space-between;
      align-items: center;

      &>*{
        margin: 18px 19px;
      }

      @include media( $bp1 ){
        height: 100%;
        justify-content: center;
      }
    }

    &-sprite{
      position: relative;
      width: 9px;
      height: 9px;
      &:before,
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 3px;
        height: 100%;
        background: #fff;
      }
      &:after{
        width: 100%;
        height: 3px;
      }

      &.is-main{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 100px;
        height: 100px;
        &:before{
          width: 33px;
        }
        &:after{
          height: 33px;
        }
        @include media( $bp3 ) {
          width: 50px;
          height: 50px;
          &:before{
            width: 15px;
          }
          &:after{
            height: 15px;
          }
        }
      }


    }

  }

  &-equal{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    .do-equal-line{
      position: absolute;
      width: 100%;
      height: 33px;
      right: 0;
      background: #fff;
      &.is-top{
        top: calc(50% - 50px);
      }
      &.is-bottom{
        bottom: calc(50% - 50px);
      }

    }

  }

}