.preloader{
	position: absolute;
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%; 
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

	span{
		display: block;
		width: 0;
		height: 3px;
		background: #fff;
	}
}