.slider{

  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  z-index: 1;

  &-content{

    padding: $gutter;
    position: relative;

    @include media( $bp3 ) {
      padding: 0 0 $gutter 0;
    }

    &-img{
      width: 100%;
      height: auto;
      box-shadow: 0 45px 100px rgba(0,0,0,.5);
      @include media( $bp3 ) {
        box-shadow: none;
      }
    }

  }

}