.lyt-screen{

  position: relative;
  width: 1366px;
  height: 768px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  background: $color1;

  user-select: none;

  @include media( $bp1 ) {
    height: auto;
  }

  @include media( $bp2 ) {
    flex-flow: column nowrap;
    justify-content: center;
  }

  @include media( $bp3 ) {
    // height: 100vh;
    justify-content: flex-start;
    // padding: $gutter 0;
  }

  &-aside{
    height: 100%;
    width: 32%;
    @include media( $bp1 ) {
      position: absolute;
      top: 0;
      left: 0;
    }
    @include media( $bp2 ) {
      position: static;
      width: 100%;
      height: auto;
    }
  }

  &-content{
    width: 68%;
    height: 100%;
    background: $color2;

    @include media( $bp2 ) {
      position: relative;
      height: auto;
      width: 100%;
    }
  }

  &-btn_mob{
    display: none;
    width: 100%;
    padding: 0 $gutter;
    position: relative;
    z-index: 1;
    height: 20%;

    @include media( $bp2 ) {
      display: block;
    }
  }
}