html{
  overflow: hidden;
}
*,
*:before,
*:after{
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  font-family: $ffamily;
  background: $color1;
  overflow: hidden;
}


.is-hidden{
  display: none !important;
}


