$color1: #f50000;
$color2: #e90101;
$gutter: 30px;

$bp1: '<1366px';
$bp2: '<769px';
$bp3: '<630px';


$ffamily: EuclidFlexGeneva, sans-serif;

@mixin bevel($amount, $opacity) {
  box-shadow: inset $amount $amount $amount rgba(255,255,255, $opacity/2), inset -#{$amount} -#{$amount} $amount rgba(0,0,0,$opacity);
}

@mixin clearfix() {
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}
